:root {
  --msg-radius-thin: 5px;

  --msg-pad-thin: 8px;
  --msg-pad-normal: 16px;
  
  --msg-border-thin: 1px;
  --msg-border-style: solid;

  --msg-font-size-regular: 10px;
  --msg-font-size-header: 16px;

  --msg-local-border-color: #46a9ff66;
  --msg-local-background-color: #cff0ff;
  --msg-foreign-border-color: black;
  --msg-foreign-background-color: #ebebeb
}

.App {
  border-radius: 5px;
  height: 100vh;
  overflow-y: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.App_header {
  background: #fafafa;
  border-bottom: 3px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 15px 25px;
  margin: 0;
}

/* Message input section styling */
.App__input {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
}

.App__input textarea {
  flex-grow: 1;
  height: 50px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 10px 20px;
  color: #333;
  font-weight: 400;
  resize: none;
}

.App__input textarea:focus {
  outline: none;
  border-color: #aaa;
}

/* Send Message button Styling */
.App__button {
  background: #223387;
  padding: 10px 20px;
  border: none;
  color: #fff;
  border-radius: 25px;
  font-size: var(--msg-font-size-header);
  margin-left: 10px;
  cursor: pointer;
}

.App__button:hover {
  background: #0056b3;
}

/* All Messages Styling */
.App__messages {
  flex-grow: 1;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  background: #f5f5f5;
}

.App__message {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.App__messageCode {
  white-space: pre-wrap;
  border: var(--msg-border-thin) solid #ddd;
  background-color: #e0e0e0;
  border-radius: var(--msg-border-thin);
  padding: var(--msg-pad-normal);
}

.App__message img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.App__msgHeader {
  flex-grow: 1;
  color: black;
  font-weight: 1000;
  font-size: var(--msg-font-size-header);
  border-style: var(--msg-border-style);
  border-width: var(--msg-border-thin);
  border-top-left-radius: var(--msg-radius-thin);
  border-top-right-radius: var(--msg-radius-thin);
  padding: var(--msg-pad-thin);
  padding-left: var(--msg-pad-normal);
  padding-right: var(--msg-pad-normal);
  margin-bottom: 0;
  margin-top: 0;
}

.App__borderLocal {
  border-color: var(--msg-local-border-color);
}

.App__backgroundLocal {
  background-color: var(--msg-local-background-color);
}

.App__borderForeign {
  border-color: var(--msg-foreign-border-color);
}

.App__backgroundForeign {
  background-color: var(--msg-foreign-background-color);
}

.App__msgContent {
  flex-grow: 1;
  overflow-x: auto;
}

.App__msgContent span {
  color: grey;
  font-weight: 300;
  font-size: var(--msg-font-size-regular);
}

.App__msgContent p {
  margin: 2px 0;
}

.App_msgContentSolid {
  border-style: var(--msg-border-style);
  border-width: var(--msg-border-thin);
  border-bottom-left-radius: var(--msg-radius-thin);
  border-bottom-right-radius: var(--msg-radius-thin);
  border-top-width: 0;
  padding: var(--msg-pad-normal);
  margin-top: 0;
  background-color: inherit;
  color: #333;
}

/* Webkit browsers */
.App__messages::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.App__messages::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

.App__messages::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.ChannelButton {
  background-color: transparent;
  border-radius: 20px;
  color: #333;
  cursor: pointer;
  font-size: var(--msg-font-size-header);
  outline: 1px solid #223387;
  padding: 6px 16px;
  margin-bottom: 8px;
  margin-right: 8px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #f4f4f4;
  }
}

.ActiveChannelButton {
  background-color: #223387;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: var(--msg-font-size-header);
  outline: 1px solid #223387;
  padding: 6px 16px;
  margin-right: 8px;
  margin-bottom: 8px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}

.AddChannelButton {
  background-color: #ddd;
  border: none;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  font-size: var(--msg-font-size-header);
  padding: 6px 14px;
  margin-right: 8px;
  margin-bottom: 8px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #eee;
  }
}

.ChannelHeading {
  border-left: 3px solid #223387;
  color: #333;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding-left: 12px;
}
