@forward "tailwindcss";

/** Globals */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

* {
  scrollbar-width: thin;
}

/** Utilities */
.h-full {
  height: 100%;
}

.w-half {
  width: 50%;
}

/** Patches to 3rdparty components */
.MuiSelect-root {
  height: 40px;
}

/**
 * This file is for global styles only. Please use CSS Modules for single-component styles:
 * https://github.com/css-modules/css-modules
 */
