.h-full {
    height: 100%;
}

.w-half {
    width: 50%;
}

/** ShareLatex Component */
.sl-outer {
    flex: 1;
    overflow: visible;
    display: flex;
    flex-direction: row;
}

.sl-panel {
    height: 100%;
    flex: 1;
}

/** PDF Slick component */
.pdfSlick {
    position: relative;
}

/** Rich editor */
#editor > .ProseMirror {
    outline: none !important;
}