/** PDF Slick component */
:global .pdfSlick {
  position: relative;
  /** Originally defined on :root */
  --page-border: 1px solid #e0e0e0;
  --page-margin: 0 auto 10px auto;

  :global .page:last-of-type {
    margin-bottom: 0;
  }
}
