/** ShareLatex Component */
.sl-outer {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 4px;
}

.sl-panel {
  height: 100%;
  max-width: 100%;
  flex: 1;
}
